@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    
    --dark-theme: #111827;
    --dark-theme-50: #f9fafb;
    --dark-theme-100: #f3f4f6;
    --dark-theme-200: #e5e7eb;
    --dark-theme-300: #d1d5db;
    --dark-theme-400: #9ca3af;
    --dark-theme-500: #6b7280;
    --dark-theme-600: #4b5563;
    --dark-theme-700: #374151;
    --dark-theme-800: #1f2937;
    --dark-theme-900: #111827;
    --dark-theme-950: #0c1322;
    
    --light-theme-light: #fff;
    --light-theme: #f7f7f8;
    --light-theme-dark: #E7E7EA;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
  }
}
